<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoGym - Signup</title>
    <link rel="stylesheet" href="./css/go2gym.css">

    <style>
        .signup-error {
            color: red;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<section>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span>

    <div class="signin">
        <div class="content">
            <h2>Join GoGym</h2>
            <form action="/users/add" method="post" id="signupForm" enctype="multipart/form-data">
                <div th:if="${signupError}" th:text="${signupError}" class="signup-error"></div>

                <div class="form">
                    <div class="inputBox">
                        <input type="text" name="name" required> <i>Full Name</i>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="username" minlength="4" maxlength="12" required> <i>Username</i>
                    </div>
                    <div class="inputBox">
                        <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}" title="Password must contain at least 8 characters, including UPPER/lowercase letters, numbers, and symbols." required> <i>Password</i>
                    </div>
                    <div class="inputBox">
                        <input type="email" name="email" required> <i>Email</i>
                    </div>                                     
                    <div class="inputBox">
                        <input type="file" name="image" accept="image/jpeg, image/png" onchange="validateImage()">
                        <i>Profile Picture</i>
                    </div>
                    <!-- <div class="inputBox">
                        <label for="membershipStatus">Membership Status:</label>
                        <select name="membershipStatus" id="membershipStatus" required>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                    </div> -->
                    <div class="inputBox">
                        <input type="submit" value="Sign Up">
                    </div>
                    <div class="links">
                        <a href="/login">Already a member? Sign-in</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    document.getElementById('signupForm').onsubmit = function(e) {
        var password = document.getElementsByName('password')[0];
        var pattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}$/;
        if (!pattern.test(password.value)) {
            alert('Password must contain at least 8 characters, including UPPER/lowercase letters, numbers, and symbols.');
            e.preventDefault(); // Prevent form submission
        }
    };
</script>

<script>
    function validateImage() {
        const fileInput = document.querySelector('input[type="file"]');
        const file = fileInput.files[0];
    
        // Check if any file is selected.
        if (file) {
            // Check the file size (500 KB)
            if (file.size > 500 * 1024) {
                alert('The file size must be under 500 KB.');
                fileInput.value = ''; // Clear the file input
                return false;
            }
    
            // Check the file type
            if (!['image/jpeg', 'image/png'].includes(file.type)) {
                alert('Only JPG and PNG formats are allowed.');
                fileInput.value = ''; // Clear the file input
                return false;
            }
    
            // Check the image dimensions
            // const img = new Image();
            // img.src = URL.createObjectURL(file);
            // img.onload = function() {
            //     const width = img.naturalWidth;
            //     const height = img.naturalHeight;
    
            //     URL.revokeObjectURL(img.src);
    
            //     if (width > 500 || height > 500) {
            //         alert('The image dimensions must be within 500 x 500 pixels.');
            //         fileInput.value = ''; // Clear the file input
            //     }
            // };
        }
    }
    
    // Attach the validation function to the file input 'change' event
    document.querySelector('input[type="file"]').addEventListener('change', validateImage);
</script>
    
    


</body>
</html>
